<p>The point of this page is to be able to share information about the fund's portfolio better than the actual fund's <%= link_to 'holdings page', portfolio.fund.public_url %>.</p>

<p>Today's portfolio has <%= number_with_delimiter(portfolio.holdings.count) %> different holdings in it.<p>
